@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #949494;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentBox {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  background: #212529;
  color:#fff;
  padding: 30px;
  border-radius: 25px;
}

.custom-nav {
  background-color: #212529;
}

#footer {
  margin-top: 50px;
}

#card-custom {
  display: flex;
  width: 100%;
  margin-top: 50px;
  background: #212529;
}

#card-custom-content {
  flex: 1 0 auto;
}

#card-custom-media {
  height: 200px;
  width: 200px;
}

#accordion-custom {
  width: 800px;
  background: #2c3136;
  color: #fff;
}

#endnote-button {
  background-color: transparent;
  border-color: transparent;
  outline: "none";
  box-shadow: none;
  padding: 0;
}